{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
        
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/mon">login
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/creation">Création utilisateurs</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="example-wrapper">
    <h1>Création utilisateurs</h1>

<form method="POST" action="/cUser">
  <fieldset>
   <div class="form-group">
        <label for="exampleInputName2">Email</label>
        <input type="Name" class="form-control" id="email2" name="email2"  placeholder="entrer un mail">
      </div>
      <div class="form-group">
        <label for="exampleInputName2">Nom</label>
        <input type="Name" class="form-control" id="nom" name="nom"  placeholder="entrer un Nom">
      </div>
    <div class="form-group">
      <label for="exampleInputName1">prénom</label>
      <input type="Name" class="form-control" id="prenom" name="prenom"  placeholder="entrer un prénom">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
     </fieldset>
</form>
  
</div>
    
{% endblock %}
